* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

  --primary-t-blue: rgb(23, 43, 77);
  --secondary-t-green: rgb(58, 74, 66);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  padding: 0.6rem 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.logo-container a {
  text-decoration: none;
  color: rgb(40, 53, 47);
  font-size: 1.4rem;
  text-align: center;
  font-weight: 600;
}

#hamburger {
  padding: 0.65rem;
  background-color: transparent;
  border: none;
}

.headline {
  position: absolute;
  top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.25rem;
  background: url(icon-img/header-illsutration-mobile.svg) no-repeat;
  background-size: 100% 100%;
}

.heading {
  margin: 0 auto;
  padding-top: 20%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.25rem;
  text-align: center;
}

h1 {
  font-size: 2.25rem;
  color: var(--primary-t-blue);
}

h2 {
  margin-top: -2rem;
  font-size: 2.25rem;
  color: rgb(54, 179, 126);
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--primary-t-blue);
}

.headline > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

li {
  list-style: none;
}

.action-btn {
  margin: 0 auto;
  padding: 0.4rem 0.5rem;
  background-color: transparent;
  border: 1px solid rgb(223, 225, 230);
  border-radius: 2rem;
}

.action-btn:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(30, 72, 143, 0.239);
}

.media-link img,
.action-btn img {
  width: 1.25rem;
}
